.Weather {
  max-width: 700px;
  margin: 20px;
  position: relative;
  left: 215px;
  font-family: "Merriweather", serif;
}
.weather-app {
  background-color: #dae4dd;
  border: solid 1px #555555;
  border-radius: 10px;
}
