.Weather body {
  font-family: "Merriweather", serif;
}
.Weather h1 i {
  font-size: 70px;
}
.Weather h1 {
  text-align: center;
  color: #080808;
  font-size: 40px;
}
.Weather ul {
  list-style-type: none;
}
.Weather h2 {
  font-size: 80px;
  color: rgb(24, 23, 23);
  text-align: center;
  display: block;
  margin: 25px;
}

.Weather .lastUpdate,
.Weather .currentTime {
  color: rgb(15, 15, 15);
  display: block;
  font-size: 15px;
  position: relative;
  top: 30px;
}

.Weather .lastUpdate {
  position: relative;
  left: 40px;
}
.Weather .icon {
  width: 100px;
}
.Weather .Weather {
  max-width: 600px;
  margin: 30px;
  position: relative;
  left: 215px;
}
.Weather .weather-app {
  background-color: #2ed460;
  border: solid 1px #555555;
  border-radius: 10px;
}

.Weather .card-title {
  font-size: 10px;
  color: #111213;
  text-align: center;
}

.Weather .card {
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: #cdc9c3;
  border: solid 1px #555555;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.Weather .enterCityForm {
  margin: 20px;
}

.Weather .units {
  font-size: 20px;
  position: relative;
  top: -40px;
}
.Weather .clButton {
  background-color: black;
  color: #f8f6e0;
  padding: 5px;
  border-radius: 10%;
  cursor: pointer;
  transition: all 300ms ease;
}

.Weather .clButton:hover {
  background-color: #fbf7f0;
  color: black;
}

.Weather .btn-primary {
  background-color: #555555;
  border-color: #555555;
  color: #fbf7f0;
}
.Weather .btn-primary:hover {
  background-color: #fbf7f0;
  background-color: #fbf7f0;
  color: #555555;
}
.Weather .units .active {
  color: #080808;
  cursor: default;
}
.Weather .units .active:hover {
  text-decoration: none;
}

.Weather p img {
  width: 40px;
  text-align: center;
}
