.Weather body {
  font-family: "Merriweather", serif;
}
.Weather h1 i {
  font-size: 70px;
}
.Weather h1 {
  color: #080808;
  font-size: 40px;
  font-family: "Merriweather", serif;
  margin-left: 120px;
  margin-top: 20px;
}
.Weather ul {
  list-style-type: none;
  font-family: "Merriweather", serif;
}
.Weather h2 {
  font-size: 80px;
  color: rgb(24, 23, 23);
  text-align: center;
  display: block;
  margin: 10px;
  font-family: "Merriweather", serif;
}

.Weather .lastUpdate,
.Weather .currentTime {
  color: rgb(15, 15, 15);
  display: block;
  font-size: 15px;
  position: relative;
  top: 30px;
  font-family: "Merriweather", serif;
}

.Weather .lastUpdate {
  position: relative;
  left: 40px;
}
.Weather canvas {
  width: 75px;
  margin: 10px;
  position: relative;
  top: 20px;
}
.Weather .Weather {
  max-width: 600px;
  margin: 30px;
  position: relative;
  left: 215px;
  font-family: "Merriweather", serif;
}
.Weather .weather-app {
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  border: solid 1px #555555;
  border-radius: 10px;
}

.Weather .enterCityForm {
  margin: 20px;
}

.Weather .units {
  font-size: 60px;
  position: relative;
  top: 5px;
  font-family: "Merriweather", serif;
}

.Weather .clButton:hover {
  background-color: #fbf7f0;
  color: black;
}

.Weather .btn-primary {
  background-color: #030303;
  border-color: #555555;
  color: #fbf7f0;
}
.Weather .btn-primary:hover {
  background-color: #fbf7f0;
  background-color: #fbf7f0;
  color: #555555;
}
.Weather .units .active {
  color: #080808;
  cursor: default;
}
.Weather .units .active:hover {
  text-decoration: none;
}

.Weather p img {
  width: 40px;
  text-align: center;
}

.displayUnits {
  font-size: 15px;
  position: relative;
  top: -30px;
  font-family: "Merriweather", serif;
}
